@import "tailwindcss";



@keyframes blob {
  0%, 100% {
    transform: translate(0px, 0px) scale(1);
  }
  25% {
    transform: translate(20px, -10px) scale(1.1);
  }
  50% {
    transform: translate(10px, 20px) scale(0.9);
  }
  75% {
    transform: translate(-10px, 10px) scale(1.05);
  }
}

.animate-blob {
  animation: blob 10s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-3000 {
  animation-delay: 3s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}
