<div id="<%= dom_id wishlist_item %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= wishlist_item.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Product:</strong>
    <%= wishlist_item.product_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= wishlist_item.notes %>
  </div>
</div>
